{
    "RUNPOD_API": "***",
    "ORIGIN_IMAGE_URL": "/workspace/ComfyUI/input/example.png",
    "OUTPUT_DIRECTORY": "/tmp/ComfyUI",
    "SERVER_CHECK_RETRIES": 6000,
    "COLD_TIMEOUT_RETRIES": 2400,
    "TIMEOUT_RETRIES": 600,
    "FREE_MAX_REMAINS": 200,
    "SERVER_CHECK_DELAY": 50,
    "MIN_PODS": 1,
    "MAX_PODS": 100,
    "SCALING_SENSIVITY": 30,
    "VOLUME_ID0": "***",
    "VOLUME_ID1": "***"
}